<div class="boostrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Bienvenido sistema de votaciones</h1>
                <h2>Sistema de Votaciones</h2>
            </div>
        </div>
        <div>
            <p>Estamos emocionados de tenerte aquí y ser parte de este proceso democrático. Tu participación es fundamental para dar forma a nuestro futuro. Aquí en nuestro sistema de votaciones, te ofrecemos la oportunidad de expresar tu voz y tomar decisiones que impactarán a nuestra comunidad, ciudad o país.

                Tu voto es valioso y confiamos en que tomarás decisiones informadas. Si tienes preguntas sobre el proceso de votación o cualquier otro aspecto, no dudes en comunicarte con nuestro equipo de soporte. Estamos aquí para ayudarte.
                
                Recuerda que cada voto cuenta y hace la diferencia. Tu participación es esencial para construir un mejor mañana. ¡Gracias por unirte a nosotros en esta importante tarea!
                
                Juntos, construiremos un futuro más brillante y democrático. ¡Adelante y vota!
            </p>
        </div>
        
    </div>
    
</div>